<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="transaction_system" connectionString="Data Source=EMMANUEL-PC;Initial Catalog=transaction_system;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="TransactionServices.EmployeeTransactionService">
        <endpoint address="net.tcp://localhost:21516/employeetransactionservice"
          binding="netTcpBinding" contract="TransactionServiceInterfaces.IEmployeeTransactionService" />
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="MyConsoleListener"
             type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
    <assert assertuienabled="true" logfilename="c:\\myFile.log" />
  </system.diagnostics>
</configuration>