<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="transaction_system" connectionString="Data Source=EMMANUEL-PC;Initial Catalog=transaction_system;Integrated Security=True" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTCPBinding_IEmployeeTransactionService">
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:21516/employeetransactionservice"
          binding="netTcpBinding" bindingConfiguration="NetTCPBinding_IEmployeeTransactionService" 
                contract="TransactionServiceInterfaces.IEmployeeTransactionService"
                name ="MyEmployeeServiceEndpoint"/>
    </client>
  </system.serviceModel>
</configuration>